.side-nav-s-container {
    width: 500px;
    max-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.side-nav-s-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.side-nav-s {
    padding: 20px;
}

.collapsible-content-s {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}